@mixin clearFix {
  //To fix float height loss
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerHorizontalVertical {
  //To center horizontally and vertically
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*
0 - 600PX:  PHONE
600 - 900PX:  TABLET PORTRAIT
900 - 1200PX:  TABLET LANDSCAPE
[1200 -1800]:  DEFAULT VIEW FOR OUR STYLES
1800PX + : BIG DESKTOP

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > General Layout + Grid > Page Layout > Components

1em == 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
